<html>
  <head>
    <%= stylesheet_link_tag :tdc %>
    <title>TDC Photography</title>
  </head>
  <body>
    <div id="content">
      <%= yield %>
      <%= partial 'sash' %>
    </div>    
  </body>
</html>